<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>广东靓仔系统</title>
</head>
<body>
<div style="margin:200px 500px 200px">
    <h1 style="margin: 20px">广东靓仔管理系统</h1>
    <form role="form" action = "/loginIn" method="post" >
        账号：<input style="margin: 10px"  type="text" id="name" name = "name"> <br>
        密码：<input style="margin: 10px"  type="password" id = "password" name = "password"> <br>
        <input style="margin: 10px"  type="submit" id = "login" value = "登录">
        <button><a href="/register">立即注册</a></button>
    </form>


</div>



</body>
</html>