<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广东靓仔系统</title>
</head>
<body>
<div style="margin:200px 500px 200px">
    <h1 style="margin: 20px">广东靓仔注册页面</h1>
    <form role="form" action = "/registerIn" method="post" >
        账号：<input style="margin: 10px" type="text" id="userName" name = "name"> <br>
        密码：<input style="margin: 10px"  type="password" id = "userPassword" name = "password"> <br>
        <input style="margin: 10px"  type="submit" id = "register" value = "注册">
    </form>
</div>

</body>
</html>